<div class="container" >
    <form #projectForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="dato">
            <h1>Registro de Proyecto</h1>
            <label>Nombre</label>
            <input type="text" name="name" [(ngModel)]="project.name" required>
            <label>Descripcion</label>
            <input type="text" name="description" [(ngModel)]="project.description" required>
            <label>Categoria</label>
            <input type="text" name="category" [(ngModel)]="project.category" required>
            <label>Tecnologia</label>
            <input type="text" name="technology" [(ngModel)]="project.technology" required>
            <diV class="imagen" *ngIf="project.image"><img src="{{url+'getImagen/'+project.image}}" ></diV>
            <input type="file" title="Imagen de proyecto" (change)="fileChange($event)" >
            <input type="submit" [disabled]="!projectForm.form.valid" value="Modificar">
        </div>
    </form>
</div>
<div class="successful" [hidden]="view_suc">
    {{status}} ... <a [routerLink]="['/inicio']"> Visualizar</a>
</div>
<div class="successful" [hidden]="failed">
    {{status}}
</div>
