.container{
    
    float: left;
    
    width: 80%;
    padding: 100px;
}


.dato{
    float: left;
    display: block;
    width: 400px;
    height: 400px;
    padding-left: 40px;
    
}

.dato label{
    font-size: 30px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.dato p{
    display: block;
    font-size: 24px;
    padding: 5px;
    border-bottom: 1px  solid gray;
    margin-bottom: 20px;
    
}

.botones{
    margin-left: 90px;
    float: left;
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}

.botones .eliminar{
    font-size: 20px;
    border-radius: 5px;
    padding: 20px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
} 
.botones .actualizar{
    font-size: 20px;
    border-radius: 5px;
    padding: 20px;
    background: red;
    color: white;
    cursor: pointer;
    border: none;
} 

.imagen img{
    float: left;
    display: block;
    width: 700px;
    height: 420px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 5px 7px gray;
}

